
/* Hereo Styling starts here*/

.main__section1--backgroundcolor{

background-color: #FEFAF5;

}

.main__section1--hero{

    display: flex;
    justify-content: space-between ;
    padding:4rem;
    padding-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
}


.main__section1--h2{

    max-width: 25rem;
    min-width: 25rem;
    color: #335576; 

}

.main__section1--paragraph{
    width: 34.375rem
}


button:hover{
transform:scale(1.2);
}

button {
    color: white;
    background-color: #DB7A4E;
    padding:.5rem 2rem .5rem 2rem;
    border: none;
    border-radius: 0.9375rem;
    font-weight: 500; 
    
   
}

/* Recomendations and Cards*/

.main__section2--h3{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    color: #335576; 
    padding-left: 4rem;
    padding-top: 1rem;
}


.main__container--flex{

    display:flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    
}

   
.image-text{

    position: absolute;
    bottom: 20px;
    right: 20px

    
}


.locations__title{
    Position: absolute;
    bottom: 0px;
    right: 0.625rem;
    color: white;
    font-size: 2rem;
}


.locations__card--greece:hover{
    transform: scale(1.10)

}


.locations__card--hawaii:hover{
    transform: scale(1.10)
}

.locations__card--iceland:hover{
    transform: scale(1.10)

}

/*NEW CARD FORMAT*/

.locations__card--hawaii{ 
    
    height: 25rem;
    max-width :18.75rem;
    min-width: 18.75rem;
    border-radius: 0.3125rem;
    margin-bottom: 3rem;
    box-shadow:  0px 4px 4px rgba(0,0,0,.25);
    background-image: url('../assets/Images/hawaii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;

}


.locations__card--iceland{ 
    
    height: 25rem;
    max-width:18.75rem;
    min-width: 18.75rem;
    border-radius: 0.3125rem;
    box-shadow: 0px 4px 4px rgba(0,0,0, .25);
    background-image: url('../assets/Images/iceland.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    
}

.locations__card--greece{ 
    
    height: 25rem;
    max-width:18.75rem;
    min-width: 18.75rem;
    border-radius: 0.3125rem;
    box-shadow: 0px 4px 4px rgba(0,0,0, .25);
    background-image: url('../assets/Images/greece.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    
}